<!-- Event snippet for [LP Quero Revender] Obrigado conversion page -->
<script>
    gtag('event', 'conversion', {
        'send_to': 'AW-954628646/jzAoCMGXv5IBEKb0mccD'
    });
</script>
<section class="back-revendedor">
    <div class="container pt-5 my-4">
        <div class="row justify-content-center pt-5">
            <div class="col-md-3 my-4 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" class="svg" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
          <path style="fill:#fff;" d="M498.382,221.106c-13.73-46.686-27.161-93.461-40.931-140.135c-1.68-5.694-2.388-9.575,3.599-13.596 c7.342-4.931,6.277-13.509,6.184-21.281c-0.151-12.598-7.566-20.952-20.179-22.479c-3.066-0.371-6.176-0.531-9.266-0.531 c-125.131-0.026-250.261-0.026-375.392,0.001c-3.261,0.001-6.549,0.146-9.779,0.57c-12.357,1.622-19.642,9.95-19.699,22.323 c-0.012,2.582,0.006,5.164,0.007,7.745c0.004,6.93,2.945,12.465,8.767,15.978c3.109,1.876,3.122,3.651,2.267,6.667 c-9.43,33.249-18.746,66.531-28.07,99.81C10.978,193.71,6.111,211.253,1,229.595c10.692-0.643,20.82-0.899,30.855-2.004 c5.078-0.559,6.394,0.6,6.382,5.718c-0.158,67.47-0.105,134.941-0.106,202.412c0,1.033-0.064,2.069,0.002,3.097 c0.143,2.198-0.83,3.097-3.033,3.051c-3.957-0.083-7.925,0.139-11.873-0.061c-2.975-0.151-3.838,0.999-3.785,3.869 c0.151,8.087,0.01,16.178,0.062,24.268c0.049,7.572-1.012,6.849,6.924,6.85c148.883,0.015,297.766,0.011,446.65,0.011 c0.516,0,1.042-0.062,1.548,0.01c3.921,0.558,5.621-0.798,5.338-5.06c-0.352-5.312,0.033-10.669-0.12-16 c-0.128-4.431,1.872-10.008-0.929-12.975c-2.627-2.783-8.176-0.887-12.417-0.836c-3.452,0.042-4.785-0.787-4.779-4.559 c0.099-69.192,0.097-138.383-0.026-207.575c-0.007-3.991,1.602-4.44,4.905-4.291c9.283,0.417,18.592,0.349,27.863,0.912 C499.225,226.721,499.662,225.459,498.382,221.106z M167.953,204.389c2.696-36.208,5.176-72.433,7.624-108.659 c0.418-6.186,1.558-11.915,6.413-16.319c3.43-3.112,7.098-5.129,12.008-4.874c6.009,0.313,12.047,0.063,18.072,0.077 c8.031,0.018,15.68,6.401,17.057,14.362c0.378,2.188,0.476,4.447,0.481,6.673l-2.264,107.906c0.034,3.885-0.892,5.34-5.124,5.337 c-16.524-0.012-33.052,0.253-49.569,0.742C168.322,209.762,167.648,208.48,167.953,204.389z M56.186,211.403 C62.7,171.71,69.038,131.988,75.448,92.279c1.977-12.248,8.316-17.668,20.514-17.668c2.236,0,4.473,0,6.709,0 c2.58,0,5.161-0.001,7.741,0c11.568,0.005,19.689,8.697,18.497,20.339c-1.979,19.326-4.259,38.621-6.434,57.927 c-1.943,17.252-4.098,34.484-5.763,51.762c-0.501,5.194-2.017,7.119-7.646,7.322c-16.49,0.597-32.957,1.936-49.414,3.227 C56.232,215.457,55.627,214.811,56.186,211.403z M286.172,345.358c0.023,4.056-1.126,5.243-5.194,5.224 c-32.856-0.15-65.713-0.084-98.57-0.084c-32.685,0-65.37-0.077-98.054,0.095c-4.246,0.022-5.481-1.04-5.45-5.396 c0.203-28.555,0.174-57.112,0.02-85.667c-0.02-3.771,0.85-4.998,4.817-4.991c65.713,0.121,131.427,0.115,197.14,0.015 c3.919-0.006,5.324,0.939,5.297,5.137C285.999,288.246,286.008,316.803,286.172,345.358z M335.69,210.229 c-16.852-0.525-33.711-0.886-50.57-1.088c-3.82-0.046-5.285-0.988-5.35-5.186c-0.565-36.47-1.316-72.937-2.18-109.402 c-0.191-8.069,3.179-13.819,9.784-18.035c2.097-1.339,4.27-1.999,6.797-1.945c5.675,0.12,11.428,0.617,17.018-0.083 c11.669-1.46,19.778,9.483,20.292,18.705c1.063,19.062,2.58,38.099,3.916,57.145c1.273,18.537,2.481,37.079,3.867,55.607 C339.486,208.903,339.285,210.341,335.69,210.229z M419.182,415.031c0.008,3.855-0.73,5.389-5.053,5.348 c-23.404-0.221-46.813-0.219-70.217-0.004c-4.436,0.041-5.413-1.419-5.385-5.584c0.173-25.815,0.087-51.631,0.087-77.447 c0-25.644,0.097-51.288-0.094-76.931c-0.033-4.352,0.848-5.955,5.609-5.903c23.232,0.255,46.468,0.228,69.701,0.017 c4.444-0.04,5.376,1.453,5.365,5.609C419.064,311.767,419.074,363.399,419.182,415.031z M446.366,214.797 c-7.886-0.638-15.806-0.869-23.712-1.265c-8.596-0.377-17.189-0.924-25.789-1.065c-3.967-0.065-5.685-1.333-6.129-5.497 c-3.066-28.74-6.363-57.456-9.591-86.18c-0.922-8.204-1.762-16.418-2.811-24.606c-1.568-12.237,6.491-21.571,18.781-21.574 c5.164-0.001,10.327-0.001,15.491,0c10.077,0.002,17.268,5.984,18.9,15.958c3.582,21.898,7.064,43.813,10.598,65.719 c2.876,17.823,5.626,35.669,8.758,53.447C451.629,214.088,450.563,215.136,446.366,214.797z"></path>
        </svg>
            </div>
            <div class="col-md-12 pb-5 mb-5">
                <h1 class='title-revenda'>PRONTO! SUA REVENDA FOGÁS ESTÁ MAIS PERTO.</h1>
                <h3 class='text-center text-white font-medium'>
                    Em breve, um de nossos consultores entrará em contato com você.</h3>
            </div>
            <!-- <div class="col-md-4 my-4 pb-5">
        <a class="btn btn-block btn-green round-1 hoverable mb-3" [routerLink]="['pessoal']">
          <p class='btn-revender'>revender</p>
        </a>
      </div> -->
        </div>
    </div>
</section>