.btn-linha {
    margin-top: -34px !important;
    position: relative;
}


.title-video{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    text-align: left;
    color: #3798FF
}

@media(max-width: 768px) {
    .title-video {
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        margin-top: 30px;
    }
}
