<section>
    <div class="row justify-content-center m-0 m-l0">
        <div>
            <a href="#revender" class="btn btn-green round btn-linha">
                <p class="btn-header">quero revender</p>
            </a>
        </div>
    </div>
    <div class="container py-4">
        <div class="row my-5 py-3">
            <div class="col-md-7">
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DX9IFkGr_3I?rel=0" allowfullscreen></iframe> -->
                    <!-- <iframe class="embed-responsive-item" src="./assets/video/revendedor.mp4" allowfullscreen></iframe> -->
                    <video class="embed-responsive-item" controls>
            <source src="https://vanguardadeveloper.com.br/cdn/revendedor.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
                </div>
            </div>
            <div class="col-md-5 align-self-center">
                <p class='title-video'>
                    ASSISTA O VÍDEO E SAIBA COMO LUCRAR MAIS SENDO UM REVENDEDOR AUTORIZADO FOGÁS.
                </p>
                <p>
                    <a class='mr-4 mt-4' target='_blank' href="https://play.google.com/store/apps/details?id=br.com.fogas.prospect ">
                        <img src="./assets/images/android.png" class='img-fluid' width='140' alt="">
                    </a>
                    <a target='_blank' href="https://itunes.apple.com/br/app/quero-vender-fog%C3%A1s/id1349966257">
                        <img src="./assets/images/apple.png" class='img-fluid' width='140' alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>