.back-revendedor {
    background: #3798FF;
}

.title-revenda {
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}

.text-center {
    text-align: center;
}

.btn-revender {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0rem;
    padding: 10px;
}

.round-1 {
    border-radius: 5rem;
}

.svg {
    width: 70%;
    margin: 0 auto;
}

form {
    display: block;
    margin-top: 0em;
}

.form-group label {
    transition: 0.2s ease-out;
    cursor: text;
    color: #fff;
    font-weight: 400;
}

.form-group input {
    padding: 23px !important;
}

.form-group select {
  height: 48px !important;
}

.inlina {
    padding: 0 .4rem 0 3rem; 
}

.btn-free{
    border-radius: 10px;
    font-size: 20px;
}

.pl-0{
    padding-left: 0px;
}

.form-control {
    height: 48px !important;
}
