<section class="back-revendedor">
  <div class="container py-5 my-4">
    <div class="row justify-content-between pt-5">
      <div class="col-md-12 pb-4 pl-0">
        <h1 class='title-revenda mx-3'>primeiro, vamos falar um</h1>
        <h1 class='title-revenda mx-3'>pouco sobre você.</h1>
      </div>
      <form [formGroup]="formGroup" class='mx-3'> 
        <div class="row justify-content-between">
          <div class="col-md-5">
            <div class="form-group">
              <label for="f1">NOME</label>
              <input mdbInputDirective type="text" class="form-control" id="f1" formControlName="nome" />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">EMAIL</label>
              <input mdbInputDirective type="email" class="form-control" id="exampleInputEmail1" formControlName="email" />
            </div>
            <div class="form-group">
              <label for="f2">TELEFONE</label>
              <input mdbInputDirective type="tel" class="form-control" id="f2" formControlName="telefone" />
            </div>
            <div class='form-group'>
              <label for="" class='inlina'>WHATSAPP</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="w1" name="whatsapp" formControlName="whatsapp" value='SIM' 
                  class="custom-control-input">
                <label class="custom-control-label" for="w1">SIM</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="w2" name="whatsapp" formControlName="whatsapp" value='NÂO' 
                  class="custom-control-input">
                <label class="custom-control-label" for="w2">NÃO</label>
              </div>
            </div>
            <div class="form-group">
              <label for="f4">CPF</label>
              <cpf mdbInputDirective id="f4" formControlName="cpf"></cpf>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="f5">ESTADO</label>
                <select mdbInputDirective  class="select-wrapper custom-select" id="f5" formControlName="estado">
                  <option *ngFor="let item of state" [value]="item.name">{{item.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-5">
                <label for="f6">CIDADE</label>
                <input mdbInputDirective type="text" class="form-control" id="f6" formControlName="cidade" />
              </div>
              <div class="form-group col-md-5">
                <label for="f7">BAIRRO</label>
                <input mdbInputDirective type="text" class="form-control" id="f7" formControlName="bairro" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="f8">CEP</label>
                <input mdbInputDirective type="text" class="form-control" id="f8" formControlName="cep" />
              </div>
              <div class="form-group col-md-4">
                <label for="inputEmail4"></label>
                <button mdbInputDirective class='btn btn-block btn-info btn-free' (click)="consulta()">BUSCAR</button>
              </div>
            </div>
            <div class="form-group">
              <label for="f9">ENDEREÇO</label>
              <input mdbInputDirective type="text" class="form-control" id="f9" formControlName="endereco" />
            </div>
            <div style='height: 32px;'></div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="f11">NÚMERO</label>
                <input type="text" class="form-control" id="f11" formControlName="numero" />
              </div>
              <div class="form-group col-md-8">
                <label for="inputEmail4">PONTO DE REFERÊNCIA</label>
                <input mdb type="text" class="form-control" id="10" formControlName="referencia" />
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center pt-5">
            <button type="button" class='btn btn-green btn-free'
              [disabled]='!formGroup.valid' (click)="onSubmit()">AVANÇAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
