.back-revendedor{
    background: #3798FF;
}

.title-revenda{
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.text-center{
    text-align: center;
}

.btn-revender{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0rem;
    padding: 10px; 
}

.round-1{
    border-radius: 5rem;
}

.svg{
    width: 70%;
    margin: 0 auto;
}