<section class="back-revendedor">
  <div class="container py-5 my-4">
    <div class="row justify-content-between pt-5">
      <div class="col-md-12 pb-4 pl-0">
        <h1 class='title-revenda mx-3'>vamos falar um pouco sobre</h1>
        <h1 class='title-revenda mx-3'>investimento:</h1>
      </div>
      <form [formGroup]="formGroup" class='mx-3'>
        <h6 class='title-form pb-2'>QUANTO VOCÊ TEM PARA INVESTIR NA SUA FUTURA REVENDA FOGÁS?</h6>
        <div class='form-group'>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="q1" name="n1" formControlName="n1" 
              value='ATÉ R$ 5 MIL' class="custom-control-input">
            <label class="custom-control-label" for="q1">ATÉ R$ 5 MIL</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="q2" name="n1" formControlName="n1" 
              value='DE R$ 5 MIL A R$ 10 MIL' class="custom-control-input">
            <label class="custom-control-label" for="q2">DE R$ 5 MIL A R$ 10 MIL</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="q3" name="n1" formControlName="n1" 
              value='DE R$ 10 MIL A R$ 20 MIL' class="custom-control-input">
            <label class="custom-control-label" for="q3">DE R$ 10 MIL A R$ 20 MIL</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="q4" name="n1" formControlName="n1" 
              value='MAIS DE R$ 20 MIL' class="custom-control-input">
            <label class="custom-control-label" for="q4">MAIS DE R$ 20 MIL</label>
          </div>
        </div>
        <h6 class='title-form py-3'>VOCÊ POSSUI UM ESPAÇO LIVRE DE PELO MENOS 25M²?</h6>
        <div class='form-group'>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="q5" name="n2" formControlName="n2" 
              value='SIM' class="custom-control-input">
            <label class="custom-control-label" for="q5">SIM</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="q6" name="n2" formControlName="n2" 
              value='NÂO' class="custom-control-input">
            <label class="custom-control-label" for="q6">NÃO</label>
          </div>
        </div>
        <div class="row justify-content-between">
          <h6 class='title-form pb-3 lt'>SUA REVENDA DE GÁS FUNCIONARÁ JUNTO COM UM COMÉRCIO JÁ EXISITENTE?</h6>
          <div class="col-md-5">
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="f5">ESTADO</label>
                <select mdbInputDirective class="select-wrapper custom-select sl" id="f5" formControlName="estado">
                  <option *ngFor="let item of state" [value]="item.name">{{item.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-5">
                <label for="f6">CIDADE</label>
                <input mdbInputDirective type="text" class="form-control" id="f6" formControlName="cidade" />
              </div>
              <div class="form-group col-md-5">
                <label for="f7">BAIRRO</label>
                <input mdbInputDirective type="text" class="form-control" id="f7" formControlName="bairro" />
              </div>
            </div>
            <div class="form-group">
              <label for="f9">ENDEREÇO</label>
              <input mdbInputDirective type="text" class="form-control" id="f9" formControlName="endereco" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="f8">CEP</label>
                <input mdbInputDirective type="text" class="form-control" id="f8" formControlName="cep" />
              </div>
              <div class="form-group col-md-4">
                <label for="inputEmail4"></label>
                <button mdbInputDirective class='btn btn-block btn-info btn-free' (click)="consulta()">BUSCAR</button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="f11">NÚMERO</label>
                <input type="text" class="form-control" id="f11" formControlName="numero" />
              </div>
              <div class="form-group col-md-8">
                <label for="inputEmail4">PONTO DE REFERÊNCIA</label>
                <input mdb type="text" class="form-control" id="10" formControlName="referencia" />
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center pt-5">
            <button type="submit" 
              [disabled]='!formGroup.valid' (click)='onSubmit()'
              class='btn btn-green btn-free'>ENVIAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
