<section class="back-revendedor">
  <div class="container py-5 my-4">
    <div class="row justify-content-between pt-5">
      <div class="col-md-12 pb-4 pl-0">
        <h1 class='title-revenda mx-3'>sobre sua experiência em</h1>
        <h1 class='title-revenda mx-3'>negócios:</h1>
        <form [formGroup]="formGroup" class='pt-5 mx-3'>
          <div class='form-group'>
            <label for="" class='inlina mr-5'>É VOCÊ MESMO QUE ESTARÁ À FRENTE DO NEGÓCIO?</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q1" value='SIM' name="n1" formControlName="n1" class="custom-control-input">
              <label class="custom-control-label mr-3" for="q1">SIM</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q2" value='NÂO' name="n1" formControlName="n1" class="custom-control-input">
              <label class="custom-control-label" for="q2">NÃO</label>
            </div>
          </div>
          <div class='form-group'>
            <label for="" class='inlina mr-5'>VOCÊ JÁ TEM EMPRESA CONSTITUÍDA?</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q3" value='SIM' name="n2" formControlName="n2" class="custom-control-input">
              <label class="custom-control-label mr-3" for="q3">SIM</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q4" value='NÃO' name="n2" formControlName="n2" class="custom-control-input">
              <label class="custom-control-label" for="q4">NÃO</label>
            </div>
          </div>
          <div class="form-inline mb-10">
            <div class="form-group">
              <label for="q5" class='inlina'>QUAL CNPJ?</label>
              <cnpj id="q5" formControlName="n3"></cnpj>
            </div>
          </div>
          <div class="form-inline mb-10">
            <div class="form-group">
              <label for="q6" class='inlina mr-3'>QUAL SUA FORMAÇÃO ACADÊMICA?</label>
              <select class="custom-select my-1 mr-sm-2 sl" id="q6" formControlName="n4">
                <option value="Ensino Fundamental">Ensino Fundamental</option>
                <option value="Ensino Fundamental Incompleto">Ensino Fundamental Incompleto</option>
                <option value="Ensino Médio">Ensino Médio</option>
                <option value="Ensino Médio Incompleto">Ensino Médio Incompleto</option>
                <option value="Curso Técnico">Curso Técnico</option>
                <option value="Curso Superior">Curso Superior</option>
                <option value="Curso Superior Incompleto">Curso Superior Incompleto</option>
              </select>
            </div>
          </div>
          <div class='form-group'>
            <label for="" class='inlina mr-5'>VOCÊ JÁ REVENDE GÁS?</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q7" value='SIM' name="n5" formControlName="n5" class="custom-control-input">
              <label class="custom-control-label mr-3" for="q7">SIM</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q8" value='NÃO' name="n5" formControlName="n5" class="custom-control-input">
              <label class="custom-control-label" for="q8">NÃO</label>
            </div>
          </div>
          <h6 class='title-form pb-2'>QUANTO TEMPO A PESSOA À FRENTE DO NEGÓCIO TEM DE EXPERIÊNCIA NO COMÉRCIO?</h6>
          <div class='form-group'>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q9" value='NÃO TEMM' name="n6" formControlName="n6" class="custom-control-input">
              <label class="custom-control-label mr-3" for="q9">NÃO TEM</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q10" value='MENOS DE 1 ANO' name="n6" formControlName="n6" class="custom-control-input">
              <label class="custom-control-label mr-3" for="q10">MENOS DE 1 ANO</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q11" value='2 A 3 ANOS' name="n6" formControlName="n6" class="custom-control-input">
              <label class="custom-control-label mr-3" for="q11">2 A 3 ANOS</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="q12" value='MAIS DE 3 ANOS' name="n6" formControlName="n6" class="custom-control-input">
              <label class="custom-control-label" for="q12">MAIS DE 3 ANOS</label>
            </div>
          </div>
          <div class="col-md-12 text-center pt-5">
            <button type="button" (click)= 'onSubmit()' [disabled]= '!formGroup.valid'
              class='btn btn-green btn-free'>AVANÇAR</button>
          </div>
          <!-- <div class="text-center mt-3">
            <img src="./assets/images/step-2.png" class='img-fluid' alt="">
          </div> -->
        </form>
      </div>
    </div>
  </div>
</section>
