<app-header></app-header>
<app-panel></app-panel>
<app-video></app-video>
<router-outlet></router-outlet>
<div class="fixed-action-btn" style="bottom: 5px; right: 24px;">
    <a (click)="onActivate($event)" class="btn-floating btn-lg btn-green waves-effect waves-light">
        <p><i class="fa fa-chevron-circle-up"></i> Voltar ao topo</p>
    </a>
</div>
<app-footer></app-footer>