/*  
 * Global
*/

.btn-green {
    background: #26E303;
    color: #fff;
}

.btn-green:hover {
    background: #fff;
    color: #26E303;
}

.round {
    border-radius: 2rem !important;
}

.btn-header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.fixed-action-btn {
  position: fixed;
  z-index: 998;
  right: 35px;
  bottom: 35px;
  margin-bottom: 0;
  padding-top: 15px;
}

.btn-floating.btn-lg {
  width: 172px;
  height: 40px;
  text-align: center;
  font-size: 15px;
}

a.waves-effect,
a.waves-light {
  display: inline-block;
}

.btn-floating {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  //margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 55px;
  padding: 0;
  cursor: pointer;
  p{
      line-height: 40px;
  }
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.btn-floating.btn-lg i {
  font-size: 1.2rem;
  margin-right: 8px;
}
.btn-floating i {
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #fff;
}