<footer class="footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="text-bold">Área de Atuação</p>
                <p>Amazonas / Amapá / Mato Grosso / Pará Roraima / Rondônia</p>
            </div>
            <div class="col-md-4">
                <p class="text-bold">Matriz</p>
                <p>Rua Rio Quixito 86, Manaus - AM, 69072-070 CNPJ: 04.563.672/0001-66</p>
            </div>
            <!-- <div class="col-md-2">
                <img src="./assets/images/selo_iso9001.png" class='img-fluid' alt="ISO 9001">
            </div> -->
            <div class="col-md-2">
                <img src="./assets/images/selo_sig.png" class='img-fluid' alt="Sistema de Gestão Integrado">
            </div>
        </div>
    </div>
</footer>