.text-bold {
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: .5rem !important;
}

footer .container {
    background: url(../../../../assets/images/rodape_botija_metade.png) no-repeat bottom right;
}