/* You can add global styles to this file, and also import other style files */


/*  
 * Global
*/

.btn-green {
    background: #27E703!important;
    color: #fff;
}

.btn-green:hover {
    background: #fff;
    color: #26E303;
}

.round {
    border-radius: 2rem !important;
}

.btn-header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width:992px) {
    .btn-header {
        font-size: 15px!important;
    }
}