<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-header shadow-sm">
    <a href='' class="navbar-brand my-0 mr-md-auto" style="margin-right:0;">
        <img src="./assets/images/logo-207x107.png" width='150px' class='img-fluid' alt="">
    </a>
    <a class="btn btn-green round hoverable" href="#revender">
        <p class='btn-header bt-mobile'>quero revender</p>
    </a>
</header>
<div class="view">
    <div class="full-bg-img">
        <img src='./assets/images/header.png' width="100%" class='img-fluid' alt='FOGAS' />
    </div>
</div>