<section class="background-panel">
    <div class="row justify-content-center">
        <!-- <div>
            <a href="#revender" class="btn btn-green round btn-linha">
                <p class="btn-header">saiba mais</p>
            </a>
        </div> -->
    </div>
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-4 pb-4" *ngFor="let i of dados" id='painel-{{i.id}}'>
                <a class="campo">
                    <div class="hover-rotateY-perspective element imgbox col-12">
                        <img class="img1" src="./assets/images/painel/{{i.img}}">
                        <img class="img2 d-none" src="./assets/images/painel/{{i.hover}}">
                        <h1 class='hover'>{{i.title}}</h1>
                        <h5 class='px-4 pt-2'>{{i.text}}</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>