.background-panel{
    background: #CBEBFF;
}

.btn-linha {
    margin-top: -34px !important;
    position: relative;
}

/* Exemplo*/
.campo {
    z-index: 0;
    text-align: center;
    float: left;
    width: 100%;
}

.element {
    min-height: 300px;
    padding: 40px 0;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #3798ff;
    border-radius: 20px;
}
.hover{ font-weight: 800; }
.element h1, .element h5{ display: none; }
.element:hover h1, .element:hover h5{ display: block; color: #fff;}
.element:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #3798ff;
}

.hover-rotateY-perspective {
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease
}

.hover-rotateY-perspective {
    -webkit-transform: perspective(600px);
    -moz-transform: perspective(600px);
    -o-transform: perspective(600px);
    -ms-transform: perspective(600px);
    transform: perspective(600px)
}

.campo:hover .hover-rotateY-perspective {
    // -webkit-transform: rotateY(180deg);
    // -moz-transform: rotateY(180deg);
    // -o-transform: rotateY(180deg);
    // -ms-transform: rotateY(180deg);
    // transform: rotateY(180deg)
}

.imgbox .img1{
    display: block;
    margin: auto;
}
.imgbox:hover .img1 {
    display: none;
    background: #3798ff;
}
.imgbox .img2 {
    display: none;
}
.imgbox:hover .img2 {
    display: block;
    margin: auto;
}
.svg-border{
    border: 1px solid #1f7bb4;
    border-radius: 10px;
}

.svg{
    width: 50%;
    margin: 0 auto;
}

.svg-btn{
    font-size: 20px;
    text-transform: uppercase;
    color: #3798FF;
    font-weight: 600;
    text-align: center;
}

@media(max-width: 768px) {
    .btn-linha {
        margin-top: -20px !important;
    }
}